# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/leaguetad/target/
leaguetad/.idea/dataSources.local.xml
leaguetad/.idea/dataSources.xml
leaguetad/.idea/vcs.xml
leaguetad/.idea/workspace.xml
leaguetad/.idea/workspace.xml
leaguetad/.idea/workspace.xml
