<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/leaguetad</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">4dm1n1str4d0r</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.mycompany.leaguetad.persistence.Calendario"/>
        <mapping class="com.mycompany.leaguetad.persistence.Equipo"/>
        <mapping class="com.mycompany.leaguetad.persistence.Estadistica"/>
        <mapping class="com.mycompany.leaguetad.persistence.Jornada"/>
        <mapping class="com.mycompany.leaguetad.persistence.Jugador"/>
        <mapping class="com.mycompany.leaguetad.persistence.Liga"/>
        <mapping class="com.mycompany.leaguetad.persistence.Partido"/>
        <mapping class="com.mycompany.leaguetad.persistence.Tecnico"/>
    </session-factory>
</hibernate-configuration>